<%= form_for Comment.new do |f| %>
        <div class="form-group">
            <%= f.hidden_field :user_page_id, value: user_page_id %>
            <%= f.text_area :comment_line ,:class => 'form-control' %>
       </div>
        <div class="actions">
          <%= f.submit "Post comment" ,:class => " btn btn-primary" %>
        </div>
<% end %>
