
    <h1>Welcome to SocialBog, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to SocialBlog.com,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
          Your account is under verification......You will soon receive approval mail once it is done
    </p>
    <p>Thanks for joining and have a great day!</p>